
/* Gradient background animation */
body, html, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

/* Gradient background animation */
.gradient-bg {
  background: linear-gradient(270deg, #000001);
  background-size: 800% 800%;
  animation: gradientAnimation 15s ease infinite;
  width: 100vw;       /* عرض كامل الشاشة */
  height: 100vh;      /* ارتفاع كامل الشاشة */
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

